{% extends "LogsApp/base.html" %}

{% block page_header %}
  <div class="container text-center py-5">
    <h1 class="display-3 text-success" style="font-family: 'Share Tech Mono', monospace; text-shadow: 1 1 4px #80FF00;">
      Diario de ciberseguridad
    </h1>
    <p class="lead text-success" style="font-family: 'Share Tech Mono', monospace;">
      Blog personal de Isaac Sánchez donde compartiré lo que aprendo.   </p>
    <a class="btn btn-outline-success btn-lg" href="{% url 'LogsApp:topics' %}" role="button">
      Ver temas &raquo;
    </a>
  </div>
{% endblock page_header %}
